body{
    max-width: 1200px;
    width: 1000px;
    margin: 0 9em 0 9em;
    font-family: Inter;
}

#chirp{
    font-size: 18px;
    font-style: oblique;
    color: #2d81f5;
}

li{
    list-style: none;
}

h2{
    font-size: 30px;
    padding-bottom: 0.5em;
}

input{
    border-style: none;
    background-color: #17a2f2;
    width: 15em;
    height: 3em;
    position: absolute;
    z-index: 0;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding-left: 2em;
}


#navbar{
    margin-top: 4em;
    
}

.navbar h5{
    position: relative;
}

.navbar-background{
    background-color: #faf9f3;
    width: 100%;
    height: 125vh;
    position: absolute;
    right: 0.1%;
    top: 0.1em;
    z-index: 0;
}

.navbar ul{
    display: flex;  
    justify-content: right;
    position: relative;
    right: 16em;
    bottom: 3em;
}

.navbar li{
    padding-left: 2em;
}

.navbar-button{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 6em;
}

.navbar-button svg{
    position: absolute;
    z-index: 1;
    right: 12.3em;
    top: 0.9em;
}

.twitter-analytics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3em;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
}

#white-icon{
    position: absolute;
    z-index: 1;
    left: 1.3em;
    top: 21.5em;
}

.twitter-analytics input{
    position: absolute;
    z-index: 0;
    left: 0.2em;
}

.profiles{
    position: relative;
    right: 1em;
}

.profile1{
    padding-top: 1em;
    position: absolute;
    z-index: 9;
    left: 8em;
}

.profile2{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: black;
    position: relative;
    z-index: 8;
    left: 8em;
    top: 1.2em;
}

.profile3{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: purple;
    position: relative;
    z-index: 7;
    left: 7em;
    bottom: 1em;
}

.profile4{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: indianred;
    position: relative;
    z-index: 6;
    left: 6em;
    bottom: 3.25em;
}

.profile5{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: seagreen;
    position: relative;
    z-index: 5;
    left: 5em;
    bottom: 5.45em;
}

.profile6{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: darkblue;
    position: relative;
    z-index: 4;
    left: 4em;
    bottom: 7.65em;
}

.profile7{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: darkorange;
    position: relative;
    z-index: 3;
    left: 3em;
    bottom: 9.86em;
}

.profile8{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: yellow;
    position: relative;
    z-index: 2;
    left: 2em;
    bottom: 12.1em;
}

.profile9{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: firebrick;
    position: relative;
    z-index: 1;
    left: 1em;
    bottom: 14.24em;
}

#learn-more{
    position: relative;
    left: 15em;
    top: 0.5em;
    color: #187899;
}

#join{
    position: relative;
    bottom: 12em;
}

img{
    width: 450px;
    margin-left: 3em;
}

h1{
    font-size: 40px;
}

#features{
    padding: 0.5em 0;
}

.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2em;
    column-gap: 2em;
    font-size: 18px;
}

.analytics{
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 1.5;
    padding: 1em;
    font-display: justify;
}

.smart-analyzer{
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 1.5;
    padding: 1em;
    font-display: justify; 
}

.scheduled{
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 1.5;
    padding: 1em;
    font-display: justify;
}

.dark-mode{
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 1.5;
    padding: 1em;
    font-display: justify;
}

.customers-background{
    background-color: #d9f5f4;
    width: 100%;
    height: 70vh;
    position: absolute;
    right: 0.1%;
    top: 103em;
    z-index: 0;
}

#customers{
    padding: 3em 0;
}

.customers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    position: relative;
}

h6{
    font-size: 16px;
}

#username{
    font-size: 12px;
    
}

#customers-header{
    position: relative;
    z-index: 1;
}

.sara-may{
    border: 1px solid white;
    border-radius: 20px;
    padding: 1.5em;
    height: 13em;
    background-color: white;
}

.sara-may h6{
    position: relative;
    left: 4em;
    bottom: 5.2em;
}

.sara-may #username{
    position: relative;
    left: 5.4em;
    bottom: 10em;
}

.sara-may #blue-icon{
    position: relative;
    left: 14.5em;
    bottom: 10em;
}

.sara-may p{
    position: relative;
    bottom: 9em;
    line-height: 1.5;
}

.sara-may #like{
    position: relative;
    bottom: 9em;
}

.sara-may ul{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 11.6em;
    right: 0.5em;
}

.jack-scott{
    border: 1px solid white;
    border-radius: 20px;
    padding: 1.5em;
    height: 17em;
    background-color: white;
}

.customer-profile1{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: black;
}

.jack-scott h6{
    position: relative;
    left: 4em;
    bottom: 5.2em;
}

.jack-scott #username{
    position: relative;
    left: 5.4em;
    bottom: 10em;
}

.jack-scott #blue-icon{
    position: relative;
    left: 14.5em;
    bottom: 10em;
}

.jack-scott p{
    position: relative;
    bottom: 9em;
    line-height: 1.5;
}

.jack-scott #like{
    position: relative;
    bottom: 9em;
}

.jack-scott ul{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 11.6em;
    right: 0.5em;
}

.jessica-may{
    border: 1px solid white;
    border-radius: 20px;
    padding: 1.5em;
    height: 13em;
    background-color: white;
}

.customer-profile2{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: purple;
}

.jessica-may h6{
    position: relative;
    left: 4em;
    bottom: 5.2em;
}

.jessica-may #username{
    position: relative;
    left: 5.4em;
    bottom: 10em;
}

.jessica-may #blue-icon{
    position: relative;
    left: 14.5em;
    bottom: 10em;
}

.jessica-may p{
    position: relative;
    bottom: 9em;
    line-height: 1.5;
}

.jessica-may #like{
    position: relative;
    bottom: 9em;
}

.jessica-may ul{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 11.6em;
    right: 0.5em;
}

#price-plan h2{
    text-align: center;
    line-height: 1px;
    padding-top: 3em;
}

#price-plan p{
    padding-bottom: 3em;
    text-align: center;
    line-height: 1px;
}

.plan{
    border: 1px solid #ffb738;
    border-radius: 10px;
    width: 400px;
    background-color: rgba(251,249,242,255);
    height: 370px;
    margin: 0 auto;
    padding: 2.5em;
}

#per-month{
    font-size: 24px;
    border-bottom: 1px solid grey;
    line-height: 1.5;
    padding-bottom: 0.5em;
}

span{
    font-size: 45px;
    font-style: bold;
}

.description{
    border-bottom: 1px solid gray;
    padding-bottom: 2em;
}

.check{
    position: relative;
    top: 2em;
}

#description{
    position: relative;
    left: 2.5em;
    top: 0.5em;
}

.trail input{
    position: absolute;
    right: 24.6em;
    top: 151.5em;
    z-index: 0;
    height: 3em;
    width: 23em;
    border-radius: 5px;
    font-size: 18px;
    font-style: bold;
    color: white;
}

.trail svg{
    position: absolute;
    left: 32.8em;
    top: 171.5em;
    z-index: 1;
}

.footer-background{
    background-color: #d9f5f4;
    width: 100%;
    height: 10vh;
    position: absolute;
    right: 0.1%;
    top: 183em;
    z-index: 0;
}

#footer-text{
    display: flex;
    justify-content: right;
    position: relative;
    top: 1.4em;
}

#footer-text li{
    padding-left: 1em;
    font-size: 18;
}

#footer svg{
    position: relative;
    top: 3.8em;
    left: 46em;
}

#footer h5{
    position: relative;
    top: 6.4em;
}